@charset "UTF-8"; 
/* character encoding for stylesheets */
/* 
    Official source code of STDs UI FRAMEWORK
    Designed developed and maintained by surajkumar under MIT LICENSE
    version of this framework is v1.0
*/
:root {
    /* Color variables */
    --pureblack : #000000;
    --purewhite : #FFFFFF;
    --lightblue : #00FFFF;
    --skyblue   : #0FA4CC;
    --darkblue  : #0F15CC;  
    --blue      : #0000FF;  
    --violet    : #CD00FF;
    --pink      : #FF00D4;
    --darkgrey  : #B3B3B3;
    --lightgrey : #F5EEEE;
    --red       : #FF0000;
    --yellow    : #FFFB00;
    --darkgreen : #145A32;
    --lightgreen: #7DCEA0;
}
*{
    box-sizing: border-box; 
}
body {
    scroll-behavior: smooth; 
}
p {
    line-height: 1.8; 
}
h1 {
    font-size: 40px;
}
.white-heading {
    color: #FFFFFF;
}
/* website banner titles */
.website-banner-name-middle {
    margin-top: 200px;
    text-align: center;
}
.website-banner-name-middle + .banner-title-brief-middle {
    text-align: center;
    margin-top: -25px;
}
.website-banner-name-middle-right {
    margin-top: 200px;
    text-align: right;
    padding-right: 50px;
}
.website-banner-name-middle-right + .banner-title-brief-middle-right {
    text-align: right;
    padding-right: 50px;
}
.website-banner-name-middle-left {
    margin-top: 200px;
    text-align: left;
    padding-left: 50px;
}
.website-banner-name-middle-left + .banner-title-brief-middle-left {
    text-align: left;
    padding-right: 50px;
}
/* end of website banners */
/* designing headings */
.header-left {
    text-align: left;
    font-size: 40px;
    font-family: monalternativebold;
}
.header-left ~ .header-explanation {
    font-size: 18px;
    text-align: left;
    font-family: montserratregular;
}
.header-right {
    text-align: right;
    font-size: 40px;
    font-family: monalternativebold;
}
.header-right ~ .header-explanation {
    font-size: 18px;
    text-align: right;
    font-family: montserratregular;
}
.header-center {
    font-size: 40px;
    text-align: center;
    font-family: monalternativebold;
}
.header-center ~ .header-explanation {
    font-size: 18px;
    text-align: center;
    font-family: montserratregular;
}
/* background with colors */
.darkblue-background {
    background-color: var(--darkblue);
    background-size: 100% 100%;
    margin: -8px -8px;
    padding: 10px;
    min-height: 300px;
}
.violet-background {
    background-color: var(--violet);
    background-size: 100% 100%;
    margin-top: 15px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 10px;
    min-height: 300px;
}
.lightgrey-background {
    background-color: #f4f4f4;
    background-size: 100% 100%;
    margin-top: 15px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 10px;
    min-height: 300px;
}
/* end of background */
/* form designing */
.form-field {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    border: 1px solid;
}
input:focus {
    box-shadow: 0 0 10px var(--blue);
    border: none;
    outline: none;
}
label {
    margin-bottom: 10px;
    font-family: montserratregular;
}
.form-field-group {
    margin-top: 30px;
}
.center-text {
    text-align: center;
}
/* end of form */
/* start of button designing */
.blue-button {
    background-color: var(--blue);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 10px;
}
/* end of button designing */
/* box designing */
.coding-box {
    border: 1px solid var(--pureblack); 
    width: 100%; 
    padding: 10px; 
    margin: auto; 
    color: white; 
    background-color: var(--pureblack);
    border-radius: 10px;
}

.shadow {
    box-shadow: 10px 10px 10px black;
}
/* end of box */
/* paragraph */
.paragraph {
    line-height: 1.8;
    font-size: 18px;
    font-family: montserratregular;
    text-align: justify;
}

