@charset "UTF-8"; 
/* character encoding for stylesheets */
/* 
    Official source code of STDs UI FRAMEWORK
    Designed developed and maintained by surajkumar under MIT LICENSE
    version of this framework is v1.0
*/
:root {
    /* Color variables */
    --pureblack : #000000;
    --purewhite : #FFFFFF;
    --lightblue : #00FFFF;
    --skyblue   : #0FA4CC;
    --darkblue  : #0F15CC;    
    --violet    : #CD00FF;
    --pink      : #FF00D4;
    --darkgrey  : #B3B3B3;
    --lightgrey : #F5EEEE;
    --red       : #FF0000;
    --yellow    : #FFFB00;
    --darkgreen : #145A32;
    --lightgreen: #7DCEA0;
}
/* start of google fonts */
/* lexend font */
@font-face {
    font-family: lexend-tera;
    src: url("../fonts/lexendtera/LexendTera-Regular.ttf");
}
@font-face {
    font-family: lexend-zeta;
    src: url("../fonts/lexendzetta/LexendZetta-Regular.ttf");
}
/* montserrat font */
@font-face {
    font-family: montserratbold;
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
    font-family: montserratitalic;
    src: url("../fonts/montserrat/Montserrat-Italic.ttf");
}
@font-face {
    font-family: montserratbolditalic;
    src: url("../fonts/montserrat/Montserrat-BoldItalic.ttf");
}
@font-face {
    font-family: montserratregular;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: montserratmedium;
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}
@font-face {
    font-family: montserratlight;
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
}
/* opensans */
@font-face {
    font-family: opensansbold;
    src: url("../fonts/opensans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: opensansitalic;
    src: url("../fonts/opensans/OpenSans-Italic.ttf");
}
@font-face {
    font-family: opensanslight;
    src: url("../fonts/opensans/OpenSans-Light.ttf");
}
@font-face {
    font-family: opensansregular;
    src: url("../fonts/opensans/OpenSans-Regular.ttf");
}
/* roboto */
@font-face {
    font-family: robotobold;
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: robotoitalic;
    src: url("../fonts/roboto/Roboto-Italic.ttf");
}
@font-face {
    font-family: robotolight;
    src: url("../fonts/roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: robotoregular;
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: robotomedium;
    src: url("../fonts/roboto/Roboto-Medium.ttf");
}
/* merriweather */
@font-face {
    font-family: merriweatherregular;
    src: url("../fonts/merriweather/Merriweather-Regular.ttf");
}
@font-face {
    font-family: merriweatherbold;
    src: url("../fonts/merriweather/Merriweather-Bold.ttf");
}
@font-face {
    font-family: merriweatherlight;
    src: url("../fonts/merriweather/Merriweather-Light.ttf");
}
@font-face {
    font-family: merriweatheritalic;
    src: url("../fonts/merriweather/Merriweather-Italic.ttf");
}
/* end of google fonts */
*{
    box-sizing: border-box; 
}
body {
    scroll-behavior: smooth; 
}
p {
    line-height: 150%; 
}
h1 {
    font-size: 40px;
}
.white-heading {
    color: #FFFFFF;
}
/* website banner titles */
.website-banner-name-middle {
    margin-top: 200px;
    text-align: center;
}
.website-banner-name-middle + .banner-title-brief-middle {
    text-align: center;
    margin-top: -25px;
}
.website-banner-name-middle-right {
    margin-top: 200px;
    text-align: right;
    padding-right: 50px;
}
.website-banner-name-middle-right + .banner-title-brief-middle-right {
    text-align: right;
    padding-right: 50px;
}
.website-banner-name-middle-left {
    margin-top: 200px;
    text-align: left;
    padding-left: 50px;
}
.website-banner-name-middle-left + .banner-title-brief-middle-left {
    text-align: left;
    padding-right: 50px;
}
/* background with colors */
.darkblue-background {
    background-color: var(--darkblue);
    background-size: 100% 100%;
    margin: -8px -8px;
    padding: 10px;
    min-height: 300px;
}
/* for responsive effect */
@media only screen and (max-width: 600px){
    /* website banner titles */
    .website-banner-title-size {
        font-size: 60px;
        font-family: merriweatherbold;
    }
    .website-banner-title-size + .banner-title-brief-size {
        font-size: 30px;
        font-family: montserratlight;
    }
}
@media only screen and (min-width: 600px){
    /* website banner titles */
    .website-banner-title-size {
        font-size: 60px;
        font-family: merriweatherbold;
    }
    .website-banner-title-size + .banner-title-brief-size {
        font-size: 30px;
        font-family: montserratlight;
    }
}
@media only screen and (min-width: 768px){
    /* website banner titles */
    .website-banner-title-size {
        font-size: 90px;
        font-family: merriweatherbold;
    }
    .website-banner-title-size + .banner-title-brief-size {
        font-size: 30px;
        font-family: montserratlight;
    }
}
@media only screen and (min-width: 992px){
    /* website banner titles */
    .website-banner-title-size {
        font-size: 90px;
        font-family: merriweatherbold;
    }
    .website-banner-title-size + .banner-title-brief-size {
        font-size: 30px;
        font-family: montserratlight;
    }
}
@media only screen and (min-width: 1200px){
    /* website banner titles */
    .website-banner-title-size {
        font-size: 90px;
        font-family: merriweatherbold;
    }
    .website-banner-title-size + .banner-title-brief-size {
        font-size: 30px;
        font-family: montserratlight;
    }
}
